<<<<<<< HEAD
<h1>Pie Chart</h1>
<%#<%= select(:pie_controller, :names, @names) %>
<%= form_tag("/pie/new", method: "get") do %>
<%= submit_tag("Update") %>
<% @names.each_with_index do |n,index| %>
  		<% if index < 5 %>
  		<%= check_box_tag(:abcdefgh[index],n) %>
  		<%= label_tag(:l,n) %> 
  		<% end %>
  	<% end %>  
<% end %>
<% @chart.each_with_index do |c,index| %>
	<%= high_chart(index.to_s, c) %>
	<br>	
<% end %>      
=======
<h1>A neat pie chart that you will appreciate</h1>
<%= select(:pie_controller, :names, @names) %>
  
<%= high_chart("Attribute_6", @chart) %>

      
>>>>>>> origin/master

