<h1>Pie Chart</h1>
<%#<%= select(:pie_controller, :names, @names) %>
<%= form_tag("/pie/create", method: "get") do %>
	<%= label_tag(:q, "Players from: ") %>
 	<%= number_field_tag(:from, @from, :min => @min, :max => @max) %>
	<%= label_tag(:l, "to: ") %>
	<%= number_field_tag(:to, @to, :min => @min, :max => @max) %>
	<%= submit_tag("Update") %>

	<%= select_tag(:attribute, options_for_select(@names, @attribute), )%>
<% end %>
</br>
 <%= link_to "Get CSV File", {:controller => "pie", :action => "download",id: "download", :car => @csv }%>
</br>
<%= high_chart("pie", @pie_chart) %>
</br>
</br>

<h2>CSV of above data</h2>
<h3>Top row is User Ids, bottom is attribute percentages</h3>
<%= @csv.keys.join(", ")%> 
</br>
<%= @csv.values.join(", ")%> 
</br>
