<div class="wrapper">
	<div class="head pure-g">
	    <h1 class="pure-u-5-5 header">Pie Chart</h1>
	</div>

	<div id="main" class="header">
		<%= form_tag("/pie/create", method: "get") do %>
			<%= label_tag(:q, "Players from: ") %>
		 	<%= number_field_tag(:from, @from, :min => @min, :max => @max) %>
			<%= label_tag(:l, "to: ") %>
			<%= number_field_tag(:to, @to, :min => @min, :max => @max) %>
			<%= submit_tag("Update") %>

			<%= select_tag(:attribute, options_for_select(@names, @attribute), )%>
		<% end %>
	</div>
	</br>
	<%= high_chart("pie", @pie_chart) %>
	</br>
	</br>
	
	<div class="header">
		<h2>CSV of above data    -    <%= link_to "Download CSV File", {:controller => "pie", :action => "download",id: "download", :car => @csv }%></h2>
		<h3>Top row is User Ids, bottom is attribute percentages</h3>
		<%= @csv.keys.join(", ")%> 
		</br>
		<%= @csv.values.join(", ")%> 
	</div>
</div>
