<div class="wrapper">
	<div class="head pure-g">
	    <h1 class="pure-u-5-5 header"><%= @rows.keys.join(", ") %> for every run by User <%= @user_id %></h1>
	</div>

	<div id="main" class="header">
		<%= form_tag("/by_attribute/create", method: "get") do %>
			<%= label_tag(:q, "Player id: ") %>
			<%= select_tag(:from, options_for_select(@valid_ids, @user_id) )%>
			<%= submit_tag("Update") %>
			</br>
			<div id='attr_select' class="pure-g">
			  	<% @names.each_with_index do |n,index| %>
			  		<div class="pure-u-1-8">
				  		<% checked = @rows.has_key?(n) %>
						<%= check_box_tag("display_me_" + n, n, checked) %>
						<%= label_tag(:l,n) %> 
					</div>
			  	<% end %>
			</div>
		<% end %>
	</div>

	</br>
	<%= high_chart("Attribute_6", @chartty) %>

	<div class="header">
		<h2>CSV of above data    -    <%= link_to "Download CSV File", {:controller => "json_url", :action => "download",id: "download", :car => @s }%></h2>
		<%= @rows.keys.join(", ") %>
		<% @rows.each do |key, value| %>
		</br>
		<%= value.join(", ") %>
		<% end %>
	</div>
</div>