<h1><%= @rows.keys.join(", ") %> for every run by User <%= @user_id %></h1>

<%= form_tag("/by_attribute/create", method: "get") do %>
  <%= label_tag(:q, "Player id: ") %>
  <%= number_field_tag(:from,@user_id) %>
  <%= submit_tag("Update") %>
  	<% @names.each_with_index do |n,index| %>
  		<% checked = @rows.has_key?(n) %>
		<%= check_box_tag("display_me_" + n, n, checked) %>
		<%= label_tag(:l,n) %> 
  	<% end %>
<% end %>

<%= high_chart("Attribute_6", @chartty) %>

<h2>CSV of above data</h2>
<%= @rows.keys.join(", ") %>
<% @rows.each do |key, value| %>
</br>
<%= value.join(", ") %>

<% end %>
