<h1>A flexible way to compare several values between particular users</h1>

<%= form_tag("/json_url/create", method: "get") do %>
  <%= label_tag(:q, "Player from: ") %>
  <%= number_field_tag(:from) %>
  <%= label_tag(:l, "to: ") %>
  <%= number_field_tag(:to) %>
  <%= submit_tag("Update") %>
  	<% @names.each_with_index do |n,index| %>
  		<% if index < 5 %>
  		<%= check_box_tag(n,:c) %>
  		<%= label_tag(:l,n) %> 
  		<% end %>
  	<% end %>
<% end %>

<%= high_chart("Attribute_6", @chart) %>

