<h1>Most recent values for <%= @rows.keys.join(", ") %> for users between <%= @from %> and <%= @to %></h1>

<%= form_tag("/json_url/create", method: "get") do %>
  <%= label_tag(:q, "Players from: ") %>
  <%= number_field_tag(:from, @from, :min => @min, :max => @max) %>
  <%= label_tag(:to, "to: ") %>
  <%= number_field_tag(:to, @to, :min => @min, :max => @max) %>
  <%= submit_tag("Update") %>
  
  <% @names.each_with_index do |n,index| %>
    <% checked = @rows.has_key?(n) %>
    <%= check_box_tag("display_me_" + n, n, checked) %>
    <%= label_tag(:l,n) %> 
  <% end %>

<% end %>
</br>
</br>
<%= high_chart("GroupByAttr", @chart_attribute) %>

</br>
</br>
<%= high_chart("GroupByUser", @chart_user) %>

<h2>CSV of above data</h2>
<h3>First row attribute of each row, second row gives the user of each collumn</h3>
<%= @rows.keys.join(", ")%> 
</br>
<%= @user_records.keys.join(", ")%> 
</br>
<% @rows.each_value do |row|%> 
<%= "#{row.to_a.join(', ')} "  %>
</br>
<% end %>