<h1>Get The SQL Database</h1>

<%= form_tag("/json_url/create", method: "get") do %>
  <%= label_tag(:q, "Players from: ") %>
  <%= number_field_tag(:from,value: @from) %>
  <%= label_tag(:to, "to: ") %>
  <%= number_field_tag(:to,value: @to) %>
  <%= submit_tag("Update") %>
  	<% @names.each_with_index do |n,index| %>
  		<% if index < 5 %>
  		<%= check_box_tag(:abcdefgh[index],n) %>
  		<%= label_tag(:l,n) %> 
  		<% end %>
  	<% end %>
<% end %>
<%= high_chart("Attribute_6", @chart) %>

<h2>CSV of above data</h2>
<%= @csv.keys.join(", ")%> 
</br>
<% @csv.each_value do |row|%> 
<%= "#{row.to_a.join(', ')}, "  %>
</br>
<% end %>
